<h1>Welcome to your Cookbook</h1>

<hr>

<p>You currently have in your cookbook:</p>

<% @recipes.each_with_index do |recipe, index| %>
  <li>
    <a href="/done/<%= index %>">
      <i class="<%= recipe.done ? 'far fa-check-square' : 'far fa-square' %>"></i>
    </a>
    <%= recipe.name %> (<%= recipe.prep_time %>, <%= recipe.difficulty %>)
    <a href="/recipes/<%= index %>"><i class="fas fa-trash-alt"></i></a>
  </li>
<% end %>

<br>

<a href="/new">Add recipe</a>

<br>

<a href="/import">Import a recipe</a>
