<h1>Results for "<%= @keyword %>"</h1>

<hr>

<% @results.each_with_index do |recipe, index| %>
  <li>
    <form action="/recipes" method="post">
      <input type="hidden" name="name" value="<%= recipe.name %>">
      <input type="hidden" name="description" value="<%= recipe.description %>">
      <input type="hidden" name="prep_time" value="<%= recipe.prep_time %>">
      <input type="hidden" name="difficulty" value="<%= recipe.difficulty %>">
      <button type="submit" style="border: 0; background: none;">
        <i class="fas fa-plus-circle"></i>
      </button>
      <%= recipe.name %> (<%= recipe.prep_time %>, <%= recipe.difficulty %>)
    </form>
  </li>
<% end %>
